body {
  background: rgb(0, 0, 0);
  color: white;
  font-family: 'Gugi', cursive;
}

h1 {
  padding: 20px;
  font-size: 3rem;
}

.image {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 20px;  
}

ul {
  list-style-type: none;
  padding-left: 5px;
  font-family: 'Exo 2', sans-serif;
}

li {
  border-top: 1px solid black;
  margin-top: 5px;
  font-size: .8rem; 
}

.offline {
  background-color: rgb(190, 75, 75);
}

.online {
  background-color: rgb(54, 148, 54);
} 

.name {
  font-size: 1.5rem;
}

.wrapper {
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 150px 400px 550px;
  grid-template-rows: 120px 150px 150px 150px 150px 150px;
}

.heading {
  grid-column: 1 / 4;
  text-align: center;
  margin-bottom: 20px;
}

.image1 {
  background-color: red;
}

.image2 {
  background-color: green;
}

.image3 {
  background-color: red;
}

.image4 {
  background-color: green;
}

.image5 {
  background-color: red;
}

.title1 {
  background-color:Purple;
}

.title2 {
  background-color: pink;
}

.title3 {
  background-color:Purple;
}

.title4 {
  background-color: Pink;
}

.title5 {
  background-color:Purple;
}

.description1 {
  background-color: Blue;
}

.description2 {
  background-color: yellow;
}

.description3 {
  background-color: Blue;
}

.description4 {
  background-color: yellow;
}

.description5 {
  background-color: Blue;
}