body {
  background: rgb(0, 0, 0);
  color: white;
  font-family: 'Gugi', cursive;
}

h1 {
  padding: 20px;
  font-size: 3rem;
}

.displayImage {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 20px;
  align-content: center;  
}

.offline {
  background-color: rgb(190, 75, 75);
}

.online {
  background-color: rgb(54, 148, 54);
} 

.name {
  font-size: 1.5rem;
}
.wrapper > div {
  display: flex;
  align-items: center;
  text-align: left;
}

/* ### CSS GRID ### */
.wrapper {
  height: 100%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template: repeat(6, auto) / 1fr 230px 7fr; /* rows first colums sescond */
  grid-row-gap: 3px;
  font-family: 'Exo 2', sans-serif;
}

.heading {
  grid-column: 1 /-1; /*use -1 instead of 4 to span until the last column line */
  text-align: center;
  margin-bottom: 20px;
  justify-self: center;
}

.red {
  background-color: rgb(190, 75, 75);
}

.green {
  background-color: rgb(54, 148, 54);
}

.name {
  margin-right: 20px;
}

.desc {
  align-self: center stretch;
  padding-right: 15px;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    margin: auto;
    display: grid;
    grid-template: repeat(12, auto) / 1fr 4fr; /* rows first colums sescond */
    grid-row-gap: unset;
    font-family: 'Exo 2', sans-serif;
  }

  .description1,
  .description2,
  .description3,
  .description4,
  .description5 {
    grid-column: 1 / -1;
    border-bottom: 5px solid black;
    padding: 20px;
  }
}